# React Utility Hub - Environment Configurations
# Copy this file to .env and insert your RapidAPI credentials.

# Your RapidAPI secret key (obtained from https://rapidapi.com/)
VITE_RAPIDAPI_KEY=IuMVfV13yTAPmzZq

# The host URL for the RapidAPI translation service
VITE_RAPIDAPI_HOST=google-translate1.p.rapidapi.com

# The endpoint URL for the translation service
VITE_RAPIDAPI_URL=https://google-translate1.p.rapidapi.com/language/translate/v2
